.google {
    text-align:center;
    margin-bottom: 0pX;
    margin-top: 0%;
}

.text {
    color: black;
    font-size: -1;
}

.first-box {
    margin-top: 0%;
    margin-left:40px;
    margin-right:40px;
    margin-bottom: 3px;
    text-align: center;
    background-color:  rgb(241, 237, 237);
    width:1300px;
    height: 75px;
    font-size: -1;
    border: -1;
    line-height:0px;
    padding: 1px;

}

.blank-buttons {
    text-align:center;
    width:300px;
    height:15px;
    border:1px solid black;
    border-radius:2px; 
    background-color:rgb(245,243,243)
}

.buttons {
    
    width:auto;
    height: 10px;
    border:1px solid black;
    border-radius:4px; 
    

}

.second-box {
    margin-left: 40px;
    text-align:center;
    padding:4px;
    width: 570px;
    background-color:rgb(48, 220, 197);
    line-height: 0%;
    height: 80px;
    

}
.third-box {
    width: 150px;
    padding:4px;
    height: 80px;;
    text-align:center;
    background-color:rgb(42, 175, 157);
    line-height: 0%;
}

.forth-box {

    width: 550px;
    height: 80px;;
    padding: 4px;
    background-color: rgb(63, 148, 148);
    line-height:0%;
    text-align: center;
}